<div class="container">
  <div class="badge">
    <button
      mat-stroked-button
      color="primary"
      class="novo-todo mat-elevation-z1"
    >
      NEW TO-DO
    </button>
    <button
      routerLink="create"
      mat-stroked-button
      color="primary"
      matBadge="{{ closed }}"
      matBadgeColor="accent"
      class="task mat-elevation-z1"
      (click)="navegarParaFinalizados()"
    >
      COMPLETED TASKS
    </button>
  </div>
  <div class="card content">
    <mat-card class="mat-elevation-z2">
      <p>Deadline:</p>
      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Description</mat-card-subtitle>
      </mat-card-header>
      <div class="actions">
        <button
          (click)="finalizar(item)"
          class="mat-elevation-z4"
          mat-mini-fab
          color="primary"
        >
          <mat-icon>done</mat-icon>
        </button>
        <button class="mat-elevation-z4" mat-mini-fab color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="delete(item.id)"
          class="mat-elevation-z4"
          mat-mini-fab
          color="warn"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
